/build
/.idea
/node_modules
/public/storage
/public/css/*.css
/public/**/*.css.map
/public/js/*.js
/public/**/*.js.map
/public/media
/public/assets
/public/fonts
/public/svg
/public/icons
/public/mix-manifest.json
/public/sitemap.xml
/storage/*.key
/storage/service-account.json
/storage/media-library
/vendor
/.idea
/.vscode
.DS_Store
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
.env
.env.backup
.env.dusk*
.env.testing
.sqlite
.sqlite-journal
